<div class = "row paginate col-md-offset-1"> 
  <%= paginate @feed_items %>
  <%= page_entries_info @feed_items%>
</div>

<div class = "row"> 
  <% @feed_items.each do |micropost| %>
    <div class = "micropost col-md-4">
      <a class= "button" data-toggle="modal" data-target="#exampleModal">
        <%= image_tag (micropost.display_image) %>
      </a>
      <%= render 'microposts/open_modal', micropost: micropost%>
      <%= render 'microposts/favorite_form', micropost: micropost %>
    </div>
  <% end %>
</div>

<div class = "row paginate col-md-offset-1"> 
  <% if @user.microposts %>
  <% else %>
    <%= paginate @feed_items %>
    <%= page_entries_info @feed_items%>
  <% end %>
</div>